<!DOCTYPE html>
<html>
	<head>
		@js "/static/js/prism.js"
		@css "/static/css/prism.css"
		@css "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"

		<script type="module">
			// codejar
			const Prism = window.Prism
			Prism.plugins.customClass.prefix("pr-")

			import {CodeJar} from "https://medv.io/codejar/codejar.js"
			let editor = document.querySelector("#editor")
			let jar = new CodeJar(editor, e => Prism.highlightElement(e))
			jar.updateCode("")

			editor.focus()
			
			// submit
			function uploadCode() {
				let content = jar.toString()

				let html = new XMLHttpRequest()
				let url = "/api/upload"
				let params = "content=" + content
				http.open("POST", url, true)

				http.onreadystatechange = function() {
					alert(http.responseText)
				}

				http.send(params)
			}
		</script>
	</head>
	<body class="has-text-centered">
		<section class="section field is-grouped has-background-info p-5">
			<div class="control">
				<button class="button is-rounded has-text-dark" onclick="uploadCode()">upload</button>
			</div>
			<div class="control is-expanded">
				<input class="input is-rounded" disabled>
			</div>
		</section>
		<pre class="editor-pre line-numbers m-4"><code id="editor" class="language-v is-size-4"></code></pre>
	</body>
</html